<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sistema de Gerenciamento de Compromissos{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-modal.css" rel="stylesheet">
    <link href="../static/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <div id="topo">
      <img src="../static/img/cogerh.png"><img src="../static/img/estado.png" style="float:right">
    </div>  
    <div class="container">


      <!-- Static navbar -->
        <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sistema de Compromissos</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compromissos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                
                <li><a href="#">Novo Compromisso</a>
                </li>
                <li><a href="#">Visualizar Compromissos</a></li>
                <li><a href="#">Compromissos Atrasados</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reunião<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cadastrar Reunião</a></li>
                <li><a href="#">Visualizar Reuniões</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projetos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cadastrar Novo Projeto</a></li>
                <li><a href="#">Visualizar Projetos</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cadastrar Novo Usuário</a></li>
                <li><a href="#">Visualizar Usuários</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Compromissos Pendentes</a></li>
              </ul>
            </li>
          </ul>


          
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nº Compromisso">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>          
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="../navbar-fixed-top/">Sair</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
     <!-- <div class="jumbotron"> 
        <h1>Lista</h1>
        <p></p>
        
      </div>-->
      {% block page_title %}Example Base Template{% endblock page_title %}
      

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}


    </div> <!-- /container -->




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-modalmanager.js"></script>
    {% block extra_js %}{% endblock extra_js %} 
  </body>
</html>
